:root {
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #ffffff;

  --thumbnail-width: 200px;
  --thumbnail-height: 150px;
  --thumbnail-spacing: 20px;
  --carousel-background: #000000;
  --button-color: #333;
  --button-hover-color: #007bff;
}

html {
  line-height: 1.15;
  scroll-behavior: smooth;
  font-family: Inter;
  font-size: 16px;
}

body {
  margin: 0;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.15;
  color: var(--dl-color-gray-black);
  background-color: var(--dl-color-gray-white);
}

* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

p, li, ul, pre, div, h1, h2, h3, h4, h5, h6, figure, blockquote, figcaption {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  text-transform: none;
  -webkit-appearance: button;
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focus {
  outline: 1px dotted ButtonText;
}
a {
  color: inherit;
  text-decoration: inherit;
}
input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 2px 4px;
}
img {
  display: block;
}

.arcade-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #000000;
}

.arcade-text {
  color: #ffffff;
  font-size: 80px;
  font-style: normal;
  text-align: center;
  font-family: Roboto Mono;
  font-weight: 100;
  padding: var(--dl-space-space-unit) var(--dl-space-space-halfunit);
}

.arcade-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.arcade-navlink,
.arcade-navlink1 {
  color: #ffffff;
  font-size: 32px;
  font-style: normal;
  transition: 0.3s;
  font-family: Roboto Mono;
  font-weight: 100;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}
.arcade-navlink:hover,
.arcade-navlink1:hover {
  text-decoration: underline;
}
.arcade-navlink:active,
.arcade-navlink1:active {
  color: var(--dl-color-gray-black);
}

.canvas-wrapper {
  position: relative;
  width: 800px;
  max-width: 100%;
  height: 250px;
  border-radius: 8px;
  background-color: #000000;
  overflow: hidden;
  margin: 1px auto;
  display: block;
}

canvas {
  background-color: #000000;
  display: block;
  border-radius: 8px;
}

.carousel-navigation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  padding: 0 10px;
  box-sizing: border-box;
  z-index: 10;
}

.carousel-button {
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  pointer-events: auto;
  transform-origin: center;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transform: translateY(-10%) scale(1.025);
}

#prevButton:disabled,
#nextButton:disabled {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: not-allowed;
  box-shadow: none;
  transform: translateX(-100%) scale(1);
  pointer-events: none;
}
