.rocket-babu1-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.rocket-babu1-div {
  display: contents;
}

