<div>
  <link href="./slider.css" rel="stylesheet" />
  <div class="slider-container">
    <div class="slider-slide">
      <div class="slider-left">
        <svg viewBox="0 0 1024 1024" class="slider-icon">
          <path d="M658 708l-60 60-256-256 256-256 60 60-196 196z"></path>
        </svg>
      </div>
      <div class="slider-right">
        <svg viewBox="0 0 1024 1024" class="slider-icon2">
          <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
        </svg>
      </div>
      <a
        href="https://www.babuscience.xyz/Arcade/BabuBlast"
        target="_blank"
        rel="noreferrer noopener"
        class="slider-link"
      >
        <img
          alt="BabuBlast"
          src="https://babuscience.xyz/Icons/BabuBlast.png"
          class="slider-image"
        />
      </a>
      <a href="rocket.html" class="slider-navlink">
        <img
          alt="RocketBabu1"
          src="https://babuscience.xyz/Icons/RocketBabu1.png"
          class="slider-image1"
        />
      </a>
    </div>
  </div>
</div>
